<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">
        <h6>Employee List</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Sr No</th>
                  <th>Name</th>
                  <th>Contact No</th>
                  <th>Email ID</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of employeList; let i = index; trackBy: trackByFn">
                  <td>{{i + 1}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.contactNo}}</td>
                  <td>{{item.emailId}}</td>
                  <td class="text-center">
                    <button class="btn btn-primary" (click)="onEdit(item)">Edit</button>
                    <button class="btn btn-danger mx-2" (click)="onDelete(item.empId)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">
        New Employee
      </div>
      <div class="card-body">
        <form [formGroup]="employeForm">
          <div class="row">
            <div class="col-12">
              <label for="employeeName">Name</label>
              <input type="text" id="employeeName" formControlName="name" class="form-control">
            </div>
            <div class="col-6">
              <label for="employeeEmail">Email ID</label>
              <input type="email" id="employeeEmail" formControlName="emailId" class="form-control">
            </div>
            <div class="col-6">
              <label for="employeeContact">Contact No</label>
              <input type="tel" id="employeeContact" formControlName="contactNo" class="form-control">
            </div>
            <div class="col-6">
              <label for="employeeCity">City</label>
              <input type="text" id="employeeCity" formControlName="city" class="form-control">
            </div>
            <div class="col-6">
              <label for="employeeState">State</label>
              <input type="text" id="employeeState" formControlName="state" class="form-control">
            </div>
            <div class="col-6">
              <label for="employeePin">Pin Code</label>
              <input type="text" id="employeePin" formControlName="pinCode" class="form-control">
            </div>
            <div class="col-12">
              <label for="employeeAddress">Address</label>
              <textarea id="employeeAddress" formControlName="address" class="form-control"></textarea>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6 text-center">
              <button type="button" class="btn btn-secondary" (click)="employeForm.reset()">Reset</button>
            </div>
            <div class="col-6 text-center">
              <button *ngIf="!employeForm.controls['empId'].value" type="submit" class="btn btn-success" (click)="onSave()">Save Employee</button>
              <button *ngIf="employeForm.controls['empId'].value" type="submit" class="btn btn-warning" (click)="onUpdate()">Update Employee</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
